<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mw.voicefilllists">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MyValuesActivity"
            android:label="MyValues"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CreatePhonemeValueActivity"
            android:label="MyValues"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MyListsActivity"
            android:label="MyValues"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.MyValueGroupsActivity"
            android:label="MyValues"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.CreateValueGroupActivity"
            android:label="MyValues"
            android:theme="@style/AppTheme" />
    </application>
</manifest>